.l-main {
  position: relative;
}
.p-start {
  max-width: 350px;
  border: solid 3px #666;
  border-radius: 30px;
  font-size: 35px;
  font-weight: bolder;
  color: #666;
  text-align:center;
  margin: 100px auto 0;
  box-sizing: border-box;
  padding: 5px;
}
.text {
  font-size: 50px;
  font-weight: bolder;
  color: #666;
  text-align: center;
}
.result {
  border: solid 5px #666;
  border-radius: 5px;;
  max-width: 600px;
  margin: 100px auto 0;
  text-align: center;
  box-sizing: border-box;
  padding :60px;
  font-weight: bolder;
}
.result__text {
  font-size: 40px;
}
.result__list li {
  font-size: 30px;
  font-weight: bolder;
  margin: 50px 0;
}
.miss {
  position: absolute;
  top: 80px;
  left: 300px;
  display: none;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: bolder;
  max-width: 130px;
  border: solid 2px #ff4500;
  border-radius: 8px;
}
.ranking {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}
.comment {
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
}
.result__list li:last-child {
  margin-bottom: 0;
}
span {
  transition: all 300ms 0s ease;
}
.blue {
  font-size: 30px;
  color: #00f;
}
#count {
  margin: 100px 0;
}
.hide {
  display: none;
}
.show  {
  display: block;
}